.container {
  max-width: 926px;
  margin: 0 auto 5rem;
  padding: 0 2rem;
}

.postInfo {
  margin-top: 1.56rem;
  color: var(--info);
  display: flex;


  time {
    display: flex;
    align-items: center;

    svg {
      margin-right: 0.7rem;
    }
  }

  span {
    margin-left: 1.875rem;
    display: flex;
    align-items: center;

    svg {
      margin-right: 0.7rem;
    }
  }
}

.previewExit {
  background-color: var(--heading);
  color: var(--background);
  width: 100%;
  height: 3.625rem;
  border-radius: 4px;
  margin-top: 5.5rem;
  transition: filter 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 600;
  font-size: 1.125rem;
  line-height: 22px;
}

.previewExit:hover {
  filter: brightness(0.85);
  cursor: pointer;
  text-decoration: underline;
}
